/* .register__navbar {
  display: flex;
}

.register__navbar > img {
  width: 150px;
}

.register__form {
  width: 50%;
  margin: 0 auto;
}

.register__form > form {
  display: flex;
  flex-direction: column;
}

.register__form > form input {
  padding: 0;
} */
